<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>info.kpfu.ru.servlets.Registration</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Authentication</servlet-name>
        <servlet-class>info.kpfu.ru.servlets.Authentication</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authentication</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Posts</servlet-name>
        <servlet-class>info.kpfu.ru.servlets.Posts</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Posts</servlet-name>
        <url-pattern>/posts</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Main</servlet-name>
        <servlet-class>info.kpfu.ru.servlets.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
</web-app>
